.heading-div {
    text-align: center;
}
.heading-div h2 {
    color: rgb(0, 150, 136);
}
.heading-div p {
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 340px;
    margin: auto;
    /* font-size: 40px; */
}

.avatar {
    margin: auto;
    margin-top: 40px;
    background-image: linear-gradient(to bottom, rgb(0, 150, 136), rgb(255, 255, 255));
    border-radius: 100%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.avatar img{
    height: 200px;
    position: relative;
    left: -30px;
}

@media screen and (max-width: 1920px) {
    .heading-div {
        margin: 0 100px 0 100px;
    }
    .heading-div h2 {
        font-size: 50px;
        margin: 0 0 0 0;
        margin-bottom: 20px;
    }
    .heading-div h3 {
        font-size: 30px;
        margin: 0 0 0 0;
        margin-bottom: 20px;
    }
    .heading p {
        font-size: 25px;
        margin: 0 0 0 0;
        margin-bottom: 20px;
    }
    .social-links {
        /* margin: 0 30px 0 30px; */
        font-size: 50px;
    }

}

@media screen and (max-width: 1100px) {
    .heading-div {
        margin: 0 80px 0 80px;
    }
    .heading-div h2 {
        font-size: 40px;
        margin: 0 0 0 0;
        margin-bottom: 15px;
    }
    .heading-div h3 {
        font-size: 25px;
        margin: 0 0 0 0;
        margin-bottom: 15px;
    }
    .heading p {
        font-size: 20px;
        margin: 0 0 0 0;
        margin-bottom: 15px;
    }
    .social-links {
        /* margin: 0 25px 0 25px; */
        font-size: 45px;
    }

}

@media screen and (max-width: 480px) {
    .heading-div {
        margin: 0 10px 0 10px;
    }
    .heading-div h2 {
        font-size: 35px;
        margin: 0 0 0 0;
        margin-bottom: 10px;
    }
    .heading-div h3 {
        font-size: 21px;
        margin: 0 0 0 0;
        margin-bottom: 10px;
    }
    .heading p {
        font-size: 15px;
        margin: 0 0 0 0;
        margin-bottom: 10px;
    }
    .social-links {
        /* margin: 0 20px 0 20px; */
        font-size: 40px;
    }

}